.yellow-spacing {
  background-color: #ffcc46;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.yellow-spacing img {
  width: 300px;
  height: auto;
}

.container > .container-registration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 50px auto 50px;
}

.container > .container-registration .button {
  text-align: right;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

.registration-flex, .registration-flex-error {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.registration-flex .registration-flex-row, .registration-flex .registration-flex-error-row, .registration-flex-error .registration-flex-row, .registration-flex-error .registration-flex-error-row {
  width: 350px;
}

.registration-flex .registration-flex-row .alert-danger, .registration-flex .registration-flex-error-row .alert-danger, .registration-flex-error .registration-flex-row .alert-danger, .registration-flex-error .registration-flex-error-row .alert-danger {
  background-color: transparent;
  margin-left: 3px;
}

.registration-flex .registration-flex-row .error-label, .registration-flex .registration-flex-error-row .error-label, .registration-flex-error .registration-flex-row .error-label, .registration-flex-error .registration-flex-error-row .error-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.registration-form .membership-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 15px;
}

.registration-form .btn-membership {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.registration-form .btn-membership:active, .registration-form .btn-membership.active, .registration-form .show > .btn-membership.dropdown-toggle {
  background-color: #384452;
  border-color: #384452;
}

.registration-form .label {
  margin: 15px 0px 3px;
}

.package-form {
  width: 100%;
  display: none;
}

.package-form th, .package-form td {
  text-align: center;
}

.package-form .green {
  color: green;
}

.package-form .package-form-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
  .registration-flex-error {
    display: none;
  }
  .registration-form {
    width: 500px;
  }
  .registration-form .btn-membership {
    width: 250px;
  }
}

@media (max-width: 1200px) {
  .registration-flex-row {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 412px) {
  .registration-form, .registration-flex-error {
    width: 300px;
  }
  .registration-form .btn-membership, .registration-flex-error .btn-membership {
    width: 150px;
  }
}

@media (max-width: 1200px) and (max-width: 411px) {
  .registration-form, .registration-flex-error {
    width: 200px;
  }
  .registration-form .btn-membership, .registration-flex-error .btn-membership {
    width: 100px;
  }
}

/*# sourceMappingURL=register.css.map */
