// CORE APP STYLE
@import "app.scss";

// ADDITIONAL STYLE
@import "navbar.scss";

.container-fluid {
	padding-top: 90px;
}

th, .center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.search-bar {
	margin-bottom: 10px;
}