// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Margins
.margin-bottom-10 { margin-bottom: 10px; }

a {
	color: $yellow;
}

a:hover, a:visited {
	color: $yellow-dark;
	text-decoration: none;
}

button, input, optgroup, select, textarea {
	font-family: 'Lato', sans-serif; // 1
}

.yellow {
	color: $yellow;
}

.form-control, .btn {
	border-radius: 0;
}

.btn-primary {
	background-color: $yellow;
	border-color: $yellow;
}

.btn-primary:hover {
    background-color: $yellow-dark;
    border-color: $yellow-dark;
}