// VARIABLES
@import "variables";

// BOOTSTRAP
@import "node_modules/bootstrap/scss/bootstrap";

// FUNDAMENTAL BOOTSTRAP OVERRIDE
a { color: $yellow; }

a:hover, a:visited {
	color: $yellow-dark;
	text-decoration: none;
}

button, input, optgroup, select, textarea {
	font-family: 'Lato', sans-serif; // 1
}

.form-control, .btn { border-radius: 0; }

.btn-primary {
	background-color: $yellow;
	border-color: $yellow;
}

.btn-primary:hover {
    background-color: $yellow-dark;
    border-color: $yellow-dark;
}

.alert {
	border-radius: 0;
}

.card {
	border-radius: 0 !important;
}

// ADDITIONAL STYLES

// Margins
.margin-bottom-10 { margin-bottom: 10px; }

// Colors
.yellow { color: $yellow; }