// CORE APP STYLE
@import "app.scss";

// ADDITIONAL STYLE
@import "navbar.scss";

.feature-photo {
    .photo-360 {
        width: 100%;
        height: auto;
    }

    .upload-logo {
       padding-bottom: 25px;
    }

    .btn-upload-modal {
        margin-top: -46px;
        margin-bottom: 0px;
        text-align: right;
    }
}

// .feature-followers {
//     position: relative;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-end;
//     background-color: rgba(0,0,0, 0.5);
//     padding: 16px 0px;
//     margin-top: -57px;
//     z-index: 1;
//     border-bottom: 5px solid $yellow;

//     h6 {
//         margin: 0px 8px;
//         color: #fff;
//         z-index: 1;
//     }

//     .btn-follow {
//         width: 100px;
//         height: 25px;
//         padding: 0px;
//         font-size: 14px;
//         margin: 0px 16px;
//     }
// }

.feature {
    padding-bottom: 100px;
}

.feature-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        background-color: transparent;
        border-color: transparent;
    }

    .btn-edit {
        color: $yellow;
        cursor: pointer;
    }
}

.feature-flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

    h5 {
        color: #000;
    } 
}

// PROMOTIONS  STYLE
.feature-promotions {
    text-align: center;
}

// DETAILS STYLE
.feature-details-about {
    display: flex;

    .about-us {
    
        .description {
            margin: 10px;
            display: flex;
            flex-direction: column;
            min-height: 275px;
        }

        .location {
            margin: 10px;
            bottom: 10px;
        }
    }
}

.feature-details-facilities {
    width: 100%;
    background-color: #f4f4f4;
    margin-top: 25px;
    padding: 20px 0px;
    display: flex;

    .facilities-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .facility {
            width: 250px;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 24px;
            }

            p {
                margin: 0px 10px;

            }

            .available {
                color: #000;
            }

            .unavailable {
                color: grey;
            }
        }
    }
}

.edit-details {
    display: none;

    .input-time {
        display: inline;
    }

    .open-hour {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;

        label {
            margin-bottom: 0px;
        }

        .time {
            margin-left: 50px;
        }
    }

    .facility {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 24px;
        }

        p {
            margin: 0px 10px;

        }
    }

    .facility-edit {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin: 10px 20px;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
        margin-bottom: 0px;

        input {
            display: none;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input:checked + .slider {
        background-color: $yellow;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $yellow;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    .slider.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

@media(min-width: 945px) {
    .feature-details-about {
        flex-direction: row;
            
        .maps {
            width: 40%;
        }

        .about-us {
            width: 60%;
            height: 400px;
        }
    }
}

@media(max-width: 945px) {
    .feature-details-about {
        flex-direction: column;
        .maps {
            width: 100%;
        }

        .about-us {
            width: 100%;
        }
    }
}

@media(max-width: 458px) {
    .detail-icon {
        display: none;
    }
}