.container-nav {
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    a {
    	color: #fff;
    }

    .dropdown-menu {
    	min-width: 6rem;
        padding: 0.5rem 8px;

        a {
            color: #000;
        }
    }
}