.container-nav {
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    a {
    	color: #fff;
    }

    .dropdown-menu {
    	a {
    		color: black;
    	}
    }
}

.navbar-seperation {
	margin-top: 56px;
}