.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

h2 {
	text-align: center;
}

.registration-form {
	width: 500px;
}

.package-form {
	width: 100%;

	th {
		text-align: center;
	}

	.green {
		color: green;
	}
}