// Variables
@import "variables";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;

	.button {
		text-align: right;
	}
}

h2 {
	text-align: center;
}

.registration-form {
	width: 500px;
}

.package-form {
	width: 100%;
	display: none;

	th, td {
		text-align: center;
	}

	.green {
		color: green;
	}
}