// Variables
@import "variables";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto 50px;

	.button {
		text-align: right;
	}
}

h2 {
	text-align: center;
}

.registration-flex, .registration-flex-error {
	display: flex;
	justify-content: center;
	align-items: center;

	.registration-flex-row, .registration-flex-error-row {
		width: 350px;

		.alert-danger {
			background-color: transparent;
			margin-left: 3px;
		}

		.error-label {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}




.registration-form {

	.membership-label {
		display: flex;
		align-items: center;
		margin-top: 15px;
	}

	.btn-membership {
		background-color: rgba(0,0,0,0.3);
		border-color: rgba(0,0,0,0.3);
		font : {
			weight: bold;
			size: 18px;
		}
		&:hover {
		    background-color: $yellow-dark;
		    border-color: $yellow-dark;
		}
		&.focus {
			background-color: $yellow-dark;
		    border-color: $yellow-dark;	
		}
		a:visited {
			background-color: $yellow-dark;
		    border-color: $yellow-dark;	
		}
	}

	.label {
		margin: 15px 0px 3px;
	}
}

.package-form {
	width: 100%;
	display: none;

	th, td {
		text-align: center;
	}

	.green {
		color: green;
	}

	.package-form-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}
}

@media(min-width: 1200px) {
	.registration-flex-error {
		display: none;
	}

	.registration-form {
		width: 500px;

		.btn-membership {
			width: 250px;
		}
	}
}

@media(max-width: 1200px) {
	.registration-flex-row {
		display: none;
	}

	@media(min-width: 412px) {
		.registration-form, .registration-flex-error {
			width: 300px;

			.btn-membership {
				width: 150px;
			}
		}
	}

	@media(max-width: 411px) {
		.registration-form, .registration-flex-error {
			width: 200px;

			.btn-membership {
				width: 100px;
			}
		}
	}
}