// CORE APP STYLE
@import "app.scss";

// ADDITIONAL STYLE
@import "navbar.scss";

body > .container {
	padding: 90px 15px 0;
}

.container {
    max-width: 680px;
    padding: 0 15px;
}

#email {
	max-width: 400px;
}

.alert-danger {
	background-color: transparent;
	border-color: transparent;
}