// CORE APP STYLE
@import "app.scss";

body > .container {
	padding: 90px 15px 0;
}

nav > .container {
	display: flex;
	align-items: center;
	color: #fff;

	> a {
		display: flex;
		align-items: center;
	}
}

.container {
    max-width: 680px;
    padding: 0 15px;
}

#email {
	max-width: 400px;
}

.alert-danger {
	background-color: transparent;
	border-color: transparent;
}